body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.password-container{
    background-color: lightcoral;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,.3);
}

.input-container{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    letter-spacing: 4px;
}

.input::placeholder{
    letter-spacing: 0px;
}

.fa-copy{
    cursor: pointer;
    opacity: .3;
}

.fa-copy:hover{
    opacity: 0.7;
}

.btn{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover{
    background-color: green;
}

.btn:active{
    transform: scale(0.95);
}

.alert-container{
    position: fixed;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: lightgreen;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.5s;
}

.active{
    right: -300px;
}