*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: black;
    overflow-y: auto;
}

span{
    position: relative;
    top: 20px;
    animation: bounce .4s ease infinite alternate;
}

header h1 span:nth-child(2){animation-delay: 0.2s;}
header h1 span:nth-child(3){animation-delay: 0.3s;}

@keyframes bounce{
    100%{
        top: -20px;
    }
}

header h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    letter-spacing: 15px;
}

header h1 span{
    transition: transform .60s linear;
}

header h1 span:hover{
    display: inline-block;
    cursor: pointer;
    transform: translateY(-10px);
}
nav ul li{
    list-style: none;
    transition: transform 0.56s ease;
}
nav ul li a{
    text-decoration: none;
    color: #61403A;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav{
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
    background-color: #FFA18F;
    position: sticky;
    top: 0px;
    z-index: 100;
}

nav ul li:hover{
    transform: scale(1.2);
}

button{
    color: black;
    position: absolute;
    bottom: 15px;
    left: 90px;
    padding: 10px 10px;
    border: none;
    border-radius: 12px;
    background-color: rgb(133, 214, 240);
    color: white;
    transition: transform .45s ease-in;
}

button:hover{
    cursor: pointer;
    background-color: rgb(90, 204, 241);
    transform: scale(1.3);
}

.box{
    border: 2px solid white;
    width: 50%;
    height: 30vh;
    position: relative;
    letter-spacing: 3px;
    border-radius: 12px;
    box-sizing: border-box;
}

.box h2{
    text-align: center;
    margin-top: 4px;
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.box p{
    padding-left: 15px;
    margin-top: 12px;
}

.main-content{
    border: 2px solid white;
    border-radius: 90px;
    width: 65vw;
    height: 30vh;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    box-shadow: 0px 1px 20px 10px lightcoral;
}
.main-content div{
    margin: 40px;
    font-size: 18px;
}

.last{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.c-1:hover{
    box-shadow: 1px 1px 20px 5px lightblue;
}
.c-2:hover{
    box-shadow: 1px 1px 20px 5px lightgreen;
}
.c-3:hover{
    box-shadow: 1px 1px 20px 5px lightsalmon;
}
.c-4:hover{
    box-shadow: 1px 1px 20px 5px lightgrey;
}
.c-5:hover{
    box-shadow: 1px 1px 20px 5px lightseagreen;
}

@media only screen and (max-width: 800px){
    nav{
        width: 100vw;
        margin: 0;
        border-radius: 0;
        padding: 15px;
    }
    nav ul{
        flex-wrap: wrap;
        gap: 10px;
    }
    nav ul li a{
        font-size: 14px;
    }
    .box{
        width: 90%;
    }
    .boxes{
        flex-wrap: wrap;
    }
    .main-content{
        height: 99vh;
        width: 85vw;
    }
    .main-content div{
        font-size: 14px;
    }
    .last{
        gap: 20px;
    }
    button{
        left: 200px;
    }
}