@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
    margin-top: 13px;
    position: relative;
}

.home ul li{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    font-size: 11px;
    position: absolute;
    bottom: 10px;
}

.footer a{
    color: gray;
    text-decoration: none;
}

.library{
    min-height: 80vh;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(54, 54, 54, 1);
}

.header > *{
    padding: 20px;
}

.spotify-header{
    padding: 16px;
}

.card{
    width: 210px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.card > *{
    padding-top: 10px;
}

.cardcontainer{
    margin: 30px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}

.btn{
    border-radius: 100px;
    padding: 7px 6px 6px 9px;
    background-color: rgb(97, 218, 97);
    border: none;
    outline: none;
}

.play-btn{
    position: absolute;
    bottom: 107px;
    right: 20px;
    opacity: 0;
    transition: all .96s ease-out;
}

.play-btn:hover{
    opacity: 1;
}

.signup-btn{
    border: none;
    outline: none;
    background-color: rgb(54, 54, 54, 1);
    color: gray;
    padding-right: 20px;
    font-weight: bold;
    font-size: 17px;
}

.signup-btn:hover{
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.login-btn{
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 109px;
}

.play{
    position: fixed;
    bottom: 20px;
    background-color: #8eb28e;
    width: 70vw;
    padding: 12px;
    border-radius: 12px;
    height: 40px;
}

.song-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songslist ul{
    padding: 0px 10px;
}

.info{
    font-size: 13px;
    width: 344px;
}

.songslist{
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.songslist ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 8px 6px 8px 7px;
    border: 1px solid white;
    border-radius: 6px;
    margin: 12px 0px;
}

.heading{
    display: flex;
    gap: 10px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    width: 51px;
    font-size: 12px;
}

.seekbar{
    height: 2px;
    width: 70vw;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    bottom: 5px;
}

.circle{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    position: absolute;
    bottom: -5px;
    transition: left 0.6s;
    left: 0px;
}

.play img{
    cursor: pointer;
}

.above{
    display: flex;
    justify-content: space-between;
}

.songinfo, .songtime{
    padding: 0px 12px;
}