.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.bg-gray{
    background-color: #1f1f1f;
}

.bg-black{
    background-color: black;
    color: white;
}

.img{
    margin-right: 12px;
}

.round{
    border-radius: 10px;
}

.margin{
    margin: 3px;
}

.p-1{
    padding: 10px 0px 10px 25px;
}