*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

body{
    background-color: #090C1B;
}

.main{
    background-image: url("assets/Images/background.jpg");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box{
    opacity: 0.69;
    background-color: black;
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    height: 65px;
    align-items: center;
}

nav img{
    color: red;
    position: relative;
    z-index: 10;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.hero{
    height: 100%;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    gap: 20px;
    padding: 0px 30px;
}

.hero> :first-child{
    font-weight: bolder;
    font-size: 50px;
    line-height: 195%;
    text-align: center;
    width: 500px;
}

.hero> :nth-child(2){
    font-size: 20px;
    font-weight: 500;
    line-height: 195%;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    margin-top: 20px;
    line-height: 195%;
    text-align: center;
}

nav button{
    position: relative;
    z-index: 10;
}

nav select{
    position: relative;
    z-index: 10;
}

.line{
    height: 5px;
    background-color: gray;
}
.btn-start{
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.btn-in{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px 14px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.hero input{
    background-color: rgba(0, 0, 0, 0.209);
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 7px;
    margin-right: 8px;
    border: 1px solid rgba(255, 255, 255, 0.364);
}

.hero ::placeholder{
    color: white;
}

.but-sel{
    background-color: rgba(0, 0, 0, 0.209);
    color: white;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 7px;
    margin-right: 8px;
}

.movie-list{
    display: flex;
    gap: 30px;
    justify-content: center;
    cursor: pointer;
    margin-top: 25px;
}

.movie{
    width: 197px;
    height: 256px;
    font-size: 100px;
    position: relative;
    border-radius: 8px;
    transition: transform 1s ease-out;
}

.movie p{
    position: absolute;
    bottom: -14px;
    left: -24px;
}

.m1-poster{
    background-image: url("assets/Images/stranger_things\ poster.webp");
}
.m2-poster{
    background-image: url("assets/Images/wwe\ poster.webp");
}
.m3-poster{
    background-image: url("assets/Images/dude\ poster.webp");
}
.m4-poster{
    background-image: url("assets/Images/jolly\ llb\ 3\ poster.webp");
}
.m5-poster{
    background-image: url("assets/Images/delhi\ crimes\ poster.webp");
}

.movie:hover{
    transform: scale(1.1);
}

main h2{
    margin-top: 20px;
    padding-left: 50px;
}

.mini-box{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.m-box{
    background-color: #1D1320;
    width: 250px;
    height: 230px;
    margin-top: 25px;
    border-radius: 10px;
    position: relative;
}

.m-box h3{
    padding: 20px 15px
}

.m-box p{
    padding-left: 15px;
}

.m-box img{
    width: 50px;
    position: absolute;
    bottom: 10px;
    left: 190px;
}

.q-a{
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
    gap: 8px;
}

.q-box{
    background-color: #363333;
    width: 85vw;
    height: 70px;
    font-size: 23px;
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

.q-box:hover{
    background-color: #615D5D;
}

.q-box svg{
    position: absolute;
    right: 10px;
}

.end{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
    font-size: 17px;
}

.end-but input{
    background-color: rgba(0, 0, 0, 0.209);
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 7px;
    margin-right: 8px;
    border: 1px solid rgba(255, 255, 255, 0.364);
}

.end-but ::placeholder{
    color: white;
}

.end-part ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 12px;
    font-size: 14px;
    margin-top: 70px;
}

.end-part ul li{
    list-style: none;
}

.end-content{
    margin-left: 60px;
}

.last-part{
    display: flex;
    flex-direction: column;
    margin: 40px 65px;
}

.last-part :nth-child(2){
    margin-top: 30px;
}

.last-part :nth-child(3){
    margin-top: 30px;
}

.last-part a{
    color: rgba(9, 93, 239, 0.928);
}